.aboutContainer {
    margin: 1rem 2rem;
}

.aboutPostContainer {
    margin-top: 1rem;
}

.eboardContainer {
    padding: .5rem 1rem;
    background-color: #E8E8E8;
}

.eboardContainer.odd {
    background-color: lightgray;
}

.executiveRole {
    font-size: 2rem;
    text-align: center;
}
.executiveContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.executiveInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    margin:.5rem;
}

.executiveName {
    font-size: 1.3rem;
}

.executiveHeadshot {
    width: 5rem;
    height: 7rem;
}

@media (max-width:900px) {
    .aboutContainer {
        margin: 1rem;
    }
    .executiveName {
        font-size: 1rem;
    }
    .executiveRole {
        font-size: 1.5rem;
    }
}