.gameContainer {
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.gameContainer.odd {
    background-color: lightgrey;
}

.gameCardInfo {
    display: flex;
}

.rivalLogo {
    width: 5rem;
    height: 5rem;
}

.gameInfoText {
    margin: 1rem;
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.scoreContainer {
    margin-top: 1rem;
    display: flex;
    margin-right: 1rem;
    align-items: center;
}

.imageResult {
    width: 5rem;
    margin-left: 1rem;
    margin-top: .2rem;
}

.scoreReport {
    font-size: 1.75rem;
    line-height: 1rem;
}

.playbackRecording {
    position: absolute;
    margin-right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(50, 50, 50, .5);
    bottom: 1rem;
    right: 0rem;
}

.youtubeStream {
    height: 1rem;
    margin-left: .5rem;
    color: rgba(100, 100, 100, .5);
    transform: translateY(2px);
}

.mobileScoreDivider {
    display: none;
    align-self: stretch;
    margin-top: .5rem;
}

@media (max-width:950px) {
    .mobileScoreDivider {
        display: unset;
    }

    .gameContainer {
        flex-direction: column;
    }
    .gameCardInfo {
        flex-direction: column;
        align-items: center;
        width: calc(100% - 1rem);
        padding: 0 .5rem;
    }

    .gameInfoText {
        margin: 0;
        text-align: center;
    }
    .scoreContainer{
        width: 100%;
        margin: 1rem 0;
        margin-top: .5rem;
        justify-content: center;
    }
    .playbackRecording {
        position: relative;
        justify-content: center;
        width: 100%;
        margin: 0;
        margin-top: .5rem;
    }
}